* {
  box-sizing: border-box;
}
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9)
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  align-items: center;
}


.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #00000011;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell.tic::before,
.cell.tic::after,
.board.tic .cell:hover::before,
.board.tic .cell:hover::after {
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: black;
  position: absolute;
}

.cell.tic,
.cell.tac {
  pointer-events: none;
  cursor: text;
}

.board.tic .cell:hover::before,
.cell.tic::before {
  transform: rotate(45deg);
}

.board.tic .cell:hover::after,
.cell.tic::after {
  transform: rotate(-45deg);
}

.board.tic .cell:hover {
  opacity: 0.5;
}


.board.tac .cell:hover::before,
.cell.tac::before {
  content: "";
  width: var(--mark-size);
  height: var(--mark-size);
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 0 0 0 calc(var(--mark-size) * 0.15) black;
}

.board.tac .cell:hover {
  opacity: 0.5;
}


.winning-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 5rem;
  color: white;
  background-color: #000000aa;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winning-message button {
  font-size: 3rem;
  color: #000000aa;
  background-color: snow;
  border: 2px solid silver;
  padding: 0.25em 0.5em;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 18px;
}

.winning-message button:hover {
  background-color: gainsboro;
  border: 2px solid snow;
  box-shadow: inset 0 0 0 2px gray;
}

.winning-message.show {
  display: flex;
}